<launch>
    <arg name="root_path" default="$(find hw_2_pkg)/result/tum/" />
    <include file="$(find fast_lio)/launch/mapping_velodyne.launch" />
    <node pkg="hw_2_pkg" type="odom2txt.py" name="hw_2_node" output="screen" />
        <param name="root_path" value="$(arg root_path)" />
    <node pkg='rosbag' type='record' name='rosbag_record' args='-o $(find hw_2_pkg)/result/bag/Odometry.bag /Odometry'/>
    <node pkg="rosbag" type="play" name="rosbag" args="$(find hw_2_pkg)/data/have_fun.bag" />
</launch>